body{
    background-color:#FFCDED;
}

img{
    display:block;
    width:500px;
    margin-left: auto;
}

.container{
    width:200px;
    float:left;
    padding:6px;
}

.list{
    font-weight:bold ;
}

